@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #141414;
  --foreground: #e2e8f0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141414;
    --foreground: #e2e8f0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inconsolata', monospace;
}
